table {
    width: 100%;
    margin: 0 0 20px 0;

    thead {
        background: #efeeed;
        color: #333;
        border-bottom: 1px solid #333;
        font-weight: 700;
        line-height: 18px;
    }

    tbody {
        tr {
            border-bottom: 1px solid #efeeed;
        }
    }

    td {
        padding: 0 5px;
        line-height: 20px;
    }

}